<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>IP Validation</title>
</head>
    <body>
    <form action="">
        <div class="container">
            <div class="title">
                <img src="{{ url_for('static', filename='assets/dog_meme.jpg') }}" alt="">
                <h1>IP Validation</h1>
                <img src="{{ url_for('static', filename='assets/dog_meme.jpg') }}" alt="">
            </div>
    
            <input type="text" id="ip" placeholder="Digite o IP">
            <button class="search" type="submit">Buscar</button>
    
        </div>
    </form>
    <div class="domain_img"></div>
    <div class="blocks">



        <div class="card">
            <div class="title_process">PING</div>
            <h2 class="resp"></h2>
        </div>
    
        <div class="card">
            <div class="title_process">TRACERT</div>
            <h2 class="resp_tracert"></h2>
        </div>
</div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>